bwa
minimap2
ccs
hifiasm=2.17
racon=1.6.0
merfin=v1.1
bcftools
winnowmap2
samtools=1.9
sniffiles2
quast=5.0.2
BUSCO=4.0.5
flye=2.9
merqury=1.3
blast
mummer=4.0.0
lastz=1.04.15
svmu
bedtools
non-B-gfa
pav=1.2.0
seqkit=2.4.0
diamond
blobtools